<div class="mx-4">
  <h2 class="font-bold ml-3">Menu</h2>
  <hr class="my-3 border-2 border-gray-200" />
  <ul class="border-2 border-gray-300 rounded">
    <li
      routerLink=""
      routerLinkActive="bg-emerald-200"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-none hover:cursor-pointer p-2 border-b-2 border-b-gray-200">
      Home
    </li>
    <li
      routerLink="about"
      routerLinkActive="bg-emerald-200"
      class="list-none hover:cursor-pointer p-2 border-b-2 border-b-gray-200">
      About
    </li>
    <li
      routerLink="contact"
      routerLinkActive="bg-emerald-200"
      class="list-none hover:cursor-pointer p-2">
      Contact
    </li>
  </ul>
</div>
