<h2 class="text-lg text-emerald-600 font-bold">Por capital</h2>
<hr class="border border-gray-300 my-3" />

<ng-template #loader>
  <shared-loader-spinner
    *ngIf="isLoading"
    class="flex flex-row justify-center flex-wrap mt-3"></shared-loader-spinner>
</ng-template>

<div *ngIf="country; else loader" class="flex flex-col">
  <h2 class="my-2">
    <strong class="mr-2">País:</strong>{{ country.name.common }}
  </h2>
  <div class="flex flex-col sm:flex-row">
    <div class="lg:max-w-lg sm:max-w-fit mr-2">
      <img
        class="border-solid border-2 border-gray-500"
        [src]="country.flags.svg"
        alt="country.name.common" />
    </div>
    <div class="ml-0">
      <h2>Datos del país:</h2>
      <ul>
        <li><strong>Nombre oficial: </strong>{{ country.name.official }}</li>
        <li><strong>Población: </strong>{{ country.population | number }}</li>
        <li>
          <strong>Información sobre la bandera: </strong>{{ country.flags.alt }}
        </li>
      </ul>
    </div>
  </div>
  <div class="my-4 flex flex-col max-w-fit sm:flex-row">
    Traducciones:
    <div class="mx-2 bg-emerald-200 rounded-md p-1 my-1">
      {{ country.translations['ara'].common }}
    </div>
    <div class="mx-2 bg-emerald-200 rounded-md p-1 my-1">
      {{ country.translations['jpn'].common }}
    </div>
    <div class="mx-2 bg-emerald-200 rounded-md p-1 my-1">
      {{ country.translations['kor'].common }}
    </div>
    <div class="mx-2 bg-emerald-200 rounded-md p-1 my-1">
      {{ country.translations['rus'].common }}
    </div>
    <div class="mx-2 bg-emerald-200 rounded-md p-1 my-1">
      {{ country.translations['zho'].common }}
    </div>
  </div>
</div>
