<h2 class="text-lg text-emerald-500 font-bold">Por región</h2>

<hr class="border border-gray-300 my-3" />

<div class="flex flex-col">
  <div class="flex flex-row space-x-1 justify-center">
    <button
      type="button"
      *ngFor="let region of regions"
      class="p-2 rounded-md border border-emerald-500"
      [ngClass]="{ 'bg-emerald-200': region === selectedRegion }"
      (click)="searchByRegion(region)">
      {{ region }}
    </button>
    <!-- <shared-search-box
      (capturedValue)="searchByRegion($event)"
      placeholder="Busca por región..."></shared-search-box> -->
  </div>

  <shared-loader-spinner
    *ngIf="isLoading"
    class="flex flex-row justify-center flex-wrap mt-3"></shared-loader-spinner>

  <div>
    <countries-table [countries]="_countries"></countries-table>
  </div>
</div>
